.Main {
    background-color: #f4f5f6;
}

.Container {
    width: 90%;
    margin: 0 auto;
}

.HeadlinePadding {
    padding: .5rem 0;
}

.Headline .Logo {
    display: none;
}

.Headline ul li {
    font-size: .80rem;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
}

.ContainerSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ContainerSection .Contact ul {
    display: flex;
    align-items: center;
    margin: 0 2rem 0 0;
}

.ContainerSection .Contact ul li {
    margin: 0 1rem;
}

.ContainerSection .LoginIcon ul {
    display: flex;
    align-items: center;
    margin: 0 2rem 0 0;
}

.ContainerSection .Languge ul {
    display: flex;
    align-items: center;
}

.SearchIcon img {
    display: none;
}

.ContainerSection .Contact ul {
    cursor: pointer;
}

.ContainerSection .LoginIcon ul {
    cursor: pointer;
}

.Languge ul {
    cursor: pointer;
}

.SearchIcon div {
    display: none;
}

@media only screen and (max-width:768px) {
    .Main {
        background: none;
    }

    .Contact {
        display: none;
    }

    .LoginIcon img {
        display: none;
    }

    .Languge {
        display: none;
    }

    .Headline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* width: 550px; */
    }

    .Headline .Logo {
        display: block;
        width: 15%;
    }

    .SearchIcon img {
        display: block;
    }

    .LoginIcon ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .SearchIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}