.Headline {
    background-color: #bbb2b269;
    padding: .50rem 4rem;
}

.Headline ul li {
    font-size: .80rem;
}

ul {
    margin: 0;
    padding: 0;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Container .Contact ul {
    display: flex;
    align-items: center;
    margin: 0 2rem 0 0;
}

.Container .Contact ul li {
    margin: 0 1rem;
}

.Container .LoginIcon ul {
    display: flex;
    align-items: center;
    margin: 0 4rem 0 0;
}

.Container .Languge ul {
    display: flex;
    align-items: center;
}

@media only screen and (max-width:768px) {
    .Headline {
        background: none;
    }

    .Container .Contact ul {
        display: none;
    }

    .LoginIcon ul img:nth-child(1) {
        display: none;
    }

    .Languge {
        display: none;
    }
}