.container_laptop {
    width: 90%;
    margin: 0 4rem;
}

@media (max-width:425px) {
    .container_mobile {
        width: 90%;
        margin: 0 1rem;
    }
}

@media (max-width:375px) {
    .container_small_mobile {
        width: 90%;
        margin: 0 .80rem;
    }
}

@media (max-width:320px) {
    .container_extra_small_mobile {
        width: 90%;
        margin: 0 .50rem;
    }
}