@import "https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700;800&amp;display=swap";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html,
body {
  height: 100%;
} */

body {
  font-family: saira, sans-serif
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  margin: 0;
  line-height: 1.8;
}

/* iframe,
canvas,
video,
audio,
input,
svg,
img {
  vertical-align: middle;
} */

@media (max-width:768px) {
  p {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
}

@media (max-width:425px) {
  p {
    font-size: .90rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
}

@media (max-width:375px) {
  p {
    font-size: .70rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
}

@media(max-width:320px) {
  p {
    font-size: .50rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
  }
}