.Container {
    width: 90%;
    margin: 0 4rem;
}

.InsideCisco_Padding {
    padding: 5rem 0 0 0;
}

/* .InsideCisco {
    margin: 5rem 4rem;
} */

.Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.IconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.IconContainer .Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Icon a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #0060ad;
}

.Icon h1 {
    font-weight: normal;
    font-style: normal;
}

.InsideCiscoCardsContainer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 2rem;
}

.IconContainerResponsive {
    display: none;
}

@media only screen and (max-width:768px) {
    .InsideCiscoCardsContainer {
        flex-direction: column;
        gap: 4rem;
        margin-bottom: 4rem;
    }

    .Content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .IconContainer {
        display: none;
    }

    .IconContainerResponsive {
        display: block;
    }

    .IconContainerResponsive {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .IconContainerResponsive .Icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    hr {
        width: 100%;
    }
}