.reponsive_image img {
    width: 100%;
}

.hero_banner_padding {
    padding: 0;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    flex-basis: 100%;
}

.main {
    position: relative;
}

.cisco_content {
    position: absolute;
    top: 10rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cisco_content h1,
p {
    color: #fff;
    letter-spacing: 1px;
}

.cisco_content h1 {
    font-size: 3rem;
    font-weight: 500;
}

.cisco_content p {
    font-size: 1.2rem;
    font-weight: 400;
    width: 730px;
}

.cisco_content button {
    padding: 1.9rem 2.9rem;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;
    color: #0d274d;
    font-weight: 400;
    cursor: pointer;
    width: 250px;
}

@media (max-width:1024px) {
    .cisco_content {
        top: 5rem;
        width: 400px;
    }

    .cisco_content p {
        width: 450px;
    }

    .cisco_content h1 {
        font-size: 1.9rem;
    }

    .cisco_content p {
        font-size: .80rem;
    }

    .cisco_content button {
        padding: 1rem 2rem;
        width: 200px;
    }
}

@media (max-width:768px) {
    .cisco_content {
        top: 25rem;
        width: 600px;
    }

    .cisco_content button {
        background-color: #0060ad;
        color: #fff;
    }

    .cisco_content h1,
    p {
        color: #000;
    }

    .cisco_content h1 {
        font-size: 2.5rem;
    }

    .cisco_content p {
        font-size: .90rem;
        width: 650px;
    }
}

@media (max-width:425px) {
    .cisco_content {
        top: 15rem;
        width: 380px;
    }

    .cisco_content p {
        width: 350px;
    }
}

@media (max-width:428px) {
    .cisco_content {
        top: 15rem;
        width: 300px;
    }

    .cisco_content p {
        width: 250px;
    }
}

@media (max-width:375px) {
    .cisco_content {
        width: 350px;
    }

    .cisco_content p {
        width: 300px;
    }
}

@media (max-width:320px) {
    .cisco_content {
        width: 300px;
    }

    .cisco_content p {
        width: 250px;
    }
}