.Container {
    width: 90%;
    margin: 0 4rem;
}

.SectionPadding {
    padding: 1rem 0;
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.Title h1 {
    width: 800px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
}

.Products {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

@media only screen and (max-width:768px) {
    .Container {
        width: 80%;
    }

    .Products {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
}

@media only screen and (max-width:1024px) {
    .Products {
        gap: 2rem;
    }
}

@media only screen and (max-width:425px) {
    .Container {
        margin: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Title {
        margin-bottom: 3rem;
        width: 400px;
    }

    .Title h1 {
        width: 350px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:375px) {
    .Container {
        margin: 0 3rem;
    }
}