.SectionCards {
    /* margin: 0 3rem; */
    width: 350px;
}

.Cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 1px solid #CCC;
    /* width: 300px; */
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(92, 78, 78, 0.384);
}

.Cards img {
    /* width: 100%; */
    height: auto;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.Container {
    padding: 20px;
}

.Cards .Title {
    font-weight: normal;
    color: #180909c7;
    margin-top: 0;
}

.Cards .Description {
    line-height: 1.4rem;
    color: #180909c7;
    margin-bottom: 20px;
}

.Link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Link a {
    /* text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #6929ff;
    margin-right: 1.10rem; */
    display: inline-block;
    color: #007bff;
    /* color: #fff; */
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}