.content_padding {
    padding: 2rem 0;
}

/* .row {
    display: flex;
}

.column {
    flex: 1;
    flex-basis: 100%;
} */

.main div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    line-height: 1px;
}

.recive_data {
    flex-direction: column;
}

.recive_data p {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width:768px) {
    .content_padding{
        padding: 20rem 0 5rem 0;
    }
    .Content {
        width: 70%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        gap: 2rem;
    }

    .ContentPadding {
        padding: 25rem 0 0 0;
    }
}

@media only screen and (max-width:425px) {
    .Conatiner {
        margin: 0 1rem 5rem;
    }

    .Content {
        width: auto;
    }

    .ContentData {
        margin: 0;
    }

    .ContentData .IconName {
        font-size: .80rem;
    }
}

@media only screen and (max-width:375px) {
    .ContentPadding {
        padding: 35rem 0 0 0;
    }

    /* .Content {
        width: 60%;
    } */
}