.main {
    background-color: #f4f5f6;
}

.header_padding {
    padding: .5rem 0;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    flex-basis: 100%;
}

.logo_image img {
    display: none;
    width: 80px;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    float: right;
}

.menu ul li {
    font-size: .80rem;
}

.menu ul .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}

@media (max-width:768px) {
    .main {
        display: none;
    }
}