#header {
    background-color: #f4f5f6;
}

.header_padding {
    padding: .5rem 0;
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

.logo {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    float: right;
}

.menu ul li {
    font-size: .80rem;
}

.menu ul div {
    display: none;
}

.responsive_image img {
    display: none;
}

.menu ul .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}

@media only screen and (max-width:768px) {
    #header {
        background: none;
    }

    .responsive_image img {
        display: block;
    }

    .logo {
        display: block;
    }

    .menu ul li:nth-child(1),
    .menu ul li:nth-child(2) {
        display: none;
    }

    .icon img {
        display: none;
    }

    .menu ul .responsive_icon {
        display: none;
    }

    .Contact {
        display: none;
    }

    .LoginIcon img {
        display: none;
    }

    .Languge {
        display: none;
    }

    .Headline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* width: 550px; */
    }

    .Headline .Logo {
        display: block;
        width: 15%;
    }

    .SearchIcon img {
        display: block;
    }

    .LoginIcon ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .SearchIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .SearchIcon div {
        display: block;
        font-size: 2rem;
    }
}

@media only screen and (max-width:425px) {
    .Container {
        margin: 0 1rem;
    }

    .HeadlinePadding {
        padding: 0;
    }

    .ContainerSection .LoginIcon ul {
        margin: 0;
    }

    .SearchIcon div {
        font-size: 2rem;
    }
}