.navbar_padding {
    padding: 0 0;
}

.row {
    display: flex;
    align-items: center;
}

.column {
    flex: 1;
    flex-basis: 50%;
}

ul {
    margin: 0;
    padding: 0;
}

.left_side {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
}

.left_side ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.left_side img {
    width: 100px;
}

.left_side div {
    display: block;
}

.right_side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.right_side ul {
    display: flex;
}

.right_side ul:nth-child(2) {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.column ul li {
    font-size: 1.1rem;
    font-weight: 400;
}

.right_side img {
    width: 20px;
}

@media (max-width:1024px) {
    .column ul li {
        font-size: .80rem;
    }

    .left_side ul {
        gap: 1rem;
    }
}

@media (max-width:768px) {
    .left_side img {
        display: none;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .left_side ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .right_side ul:nth-child(2) {
        display: none;
    }
}