.nav_padding {
    padding: .5rem 0;
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.column_10 {
    flex-basis: 10%;
}

.column_50 {
    flex-basis: 50%;
}

.column_30 {
    flex-basis: 40%;
}

.left_ul ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.right_ul ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-end;
}

.right_ul ul li:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo img {
    width: 100px;
}

.right_ul ul img {
    width: 25px;
}

@media (max-width:768px) {

    .right_ul ul {
        display: none;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
    }

    .left_ul ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .column_10 {
        display: flex;
        align-items: center;
        position: relative;
    }

    .column_10 .column_responive ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        position: absolute;
        left: 25rem;
        top: 20px;
    }

    .column_responive ul li:nth-child(2) {
        width: 20px;
    }
}