.Container {
    width: 90%;
    margin: 0 4rem;
}

.Introducing_Padding {
    padding: 1rem 0;
}

.Introducing {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.Content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Content h3 {
    font-size: 2rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
}

.Content p {
    font-size: 1rem;
    letter-spacing: 1px;
}

.Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Icon a {
    text-decoration: none;
    color: #4747fd;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

@media only screen and (max-width:425px) {
    .Container {
        margin: 0 1rem;
    }

    .Content h3 {
        font-size: 1.5rem;
    }

    .Content p {
        font-size: .80rem;
    }

    .Content {
        gap: .5rem;
    }
}

@media only screen and (max-width:375px) {
    .Container {
        margin: 0 2rem;
    }

    .Content h3 {
        font-size: 1.2rem;
    }

    .Content p {
        font-size: .70rem;
    }
}