.Container {
    width: 90%;
    margin: 0 auto;
}

.NavbarPadding {
    padding: 1px 0;
}

.ContainerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Image {
    margin-right: 2rem;
}

.Menu {
    width: 100%;
}

.Menu ul {
    display: flex;
    align-items: center;
}

.Menu ul li {
    margin: 0 2rem 0 0;
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
}

.RightMenu {
    width: 100%;
}

.RightMenu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.RightMenu ul li {
    margin: 0 .5rem 0 0;
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
}

.RightMenu ul li:nth-child(1) {
    margin-right: 2rem;
}